body{
  background-color: #EAF6F6;
}
hr{
  border-color: grey;
  border-style: dotted none none;
  height: 0px;
  border-width: 5px;
  width: 40px;
}
h1{
  color: black;
  }
h3{
  color: black;
}
img
{
  background-color:  #EAF6F6;
}
